#Server
#*
!addons.txt
!version.txt
#ShooterGame
ShooterGame/*
!/ShooterGame/Binaries/
!/ShooterGame/Saved/
#Binaries
/ShooterGame/Binaries/*
!/ShooterGame/Binaries/Linux
#Linux
/ShooterGame/Binaries/Linux/*
!/ShooterGame/Binaries/Linux/start_server.sh
#Saved
/ShooterGame/Saved/*
!/ShooterGame/Saved/Config
#Config
/ShooterGame/Saved/Config/*
!/ShooterGame/Saved/Config/LinuxServer
#Universal
push.sh
Engine/
steamapps/
*.dll
*.so
linux64/
SteamCMDInstall.sh
*.bin